<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
</head>
<body>
    <h1>Login</h1>
    <%= form_with url: sessions_path, method: :post do %>
        <label for="name">Nome do Estudante:</label>
        <%= text_field_tag :name, nil, required: true %>
        <button type="submit">Login</button>
    <% end %>

    <%= link_to 'Voltar para Home', root_path %>
</body>
</html>
