<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cadastrar Estudante</title>
</head>
<body>
    <h1>Cadastrar Novo Estudante</h1>
    <form action="/students" method="post">
        <label for="name">Nome do Estudante:</label>
        <input type="text" id="name" name="student[name]" required>
        <button type="submit">Criar Estudante</button>
    </form>
</body>
</html>
